{% extends 'base.html.twig' %}

{% block body %}
    <section id="home-top"></section>
    <section id="new">
        <div class="container"></div>
    </section>
{% endblock %}

{% block stylesheets %}

{% endblock %}
