{% extends 'base.html.twig' %}

{% block body %}
    <section id="home-top"></section>
    <section id="new">
        <div class="container">
            <section class="recipe-list">
                <article>
                    <img src="http://via.placeholder.com/350x300" alt="">
                    <h3>Galette des rois</h3>
                </article>
                <article>
                    <img src="http://via.placeholder.com/350x300" alt="">
                    <h3>Crumble aux pommes</h3>
                </article>
                <article>
                    <img src="http://via.placeholder.com/350x300" alt="">
                    <h3>Pad thai</h3>
                </article>
                <article></article>
            </section>
        </div>
    </section>
{% endblock %}

{% block stylesheets %}

{% endblock %}
