{% extends 'base.html.twig' %}
{% block title %} Parse recipe
{% endblock %}
{% block body_class %}parse-recipe{% endblock %}


{% block body %}

    <div class="container">
        <h1>Generate a recipe</h1>
        <div id="parse-intro">
            <p>On this page, you can paste the Url of a recipe you liked/made from another website and it will create a new recipe on Oishikatta.</p>
            <p>Websites supported now: </p>
            <ul>
                <li>Cookpad.com</li>
            </ul>
        </div>
        <div id="url-field">
            <form id="form-parse-recipe" action="{{ path('parse_recipe') }}" method="post">
            <label>Url :</label><!--
            --><input title="url" name="url" type="text" class="">
                <button type="submit" id="recipe-generate" name="recipe-generate">Generate</button>
            </form>
            {% if errorMessage %}
                <div class="errors">
                    <p>Sorry something went wrong</p>
                    <p>{{ errorMessage }}</p>
                </div>
            {% endif %}
        </div>

    </div>
{% endblock %}