$black            :       transparentize(#000, .1);



/** Blue **/
$dark__blue       :       #1076BA;
$light__blue      :       #89D5F6;
$mid__blue        :       #5BA3D3;


/** Layout **/

$recipe_row       :       4;
