{% extends 'base.html.twig' %}

{% block body %}
    <section class="recipe-list">
        <article></article>
        <article></article>
        <article></article>
        <article></article>
    </section>
{% endblock %}