{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <section class="recipe-list">
            {% if recipes %}
                {% for r in recipes %}
                    <article>
                        <div class="recipe-bg" style="background-image: url({{ asset('uploads/images/recipes/'~ r.mainImage ~'') }})"></div>
                        <div class="caption">
                            <h2>{{ r.name }}</h2>
                            <p>{{ r.country }}</p>
                            <a href="{{ path('recipe_show', {'slug': r.slug}) }}">View more</a>
                        </div>
                    </article>

                {% endfor %}
            {% endif %}
        </section>
    </div>
{% endblock %}