{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <section class="recipe-list">
            {% if recipes %}
                {% for r in recipes %}
                    <article>
                        <img src="{{ asset('uploads/images/recipes/'~ r.mainImage ~'') }}" alt="{{ r.name }}">
                        <h3>{{ r.name }}</h3>
                    </article>
                {% endfor %}
            {% endif %}
        </section>
    </div>
{% endblock %}