body > header {
  padding-top: 10px;
  height: 150px;
  padding-left: 250px;
  background-color: transparent;
  width: 100%;
  //position: fixed;
  //top: 0;
  //left: 0;
  //z-index: 10;
  box-shadow: none;


  //nav{
  //  float: right;
  //  padding-top: 12px;
  //  ul
  //  {
  //    display: flex;
  //
  //    li{
  //      margin: 0 10px;
  //    }
  //  }
  //}
}