section.recipe-list{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  article{
    flex-basis: 30%;
    border: 2px solid $light__blue;
    border-radius: 4px;
    min-height: 300px;
    margin-bottom: 50px;

    img{
      width: 100%;
      height: auto;
      margin-bottom: 20px;
    }

    h3{
      font-size: 2rem;
      color: $mid__blue;
      text-align: center;
      margin: 10px 0;
    }

  }
}


body.add-recipe
{
  .flex-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;

    .half-width{
      width: 45%;
    }
  }
}
